numpy==1.8.1
patsy==0.2.1
clint==0.3.6
python-etcd==0.3.0
redis==2.9.1
rpy2==2.3.10
pymongo==2.7
PyYAML==3.11
requests==2.2.1
rethinkdb==1.12.0-1
influxdb==0.1.6
intuition==0.4.0
-e git+https://github.com/pydata/pandas.git@master#egg=pandas-0.13.0-27-gf7aeaeb
