numpy==1.8.1
patsy==0.2.1
clint==0.3.7
python-etcd==0.3.0
redis==2.9.1
rpy2==2.3.10
pymongo==2.7
PyYAML==3.11
requests==2.2.1
rethinkdb==1.12.0-1
influxdb==0.1.6
scipy==0.13.3
pandas==0.13.1
intuition==0.4.0
